<div class="board">
  
  <div class="column">
    <app-task-column
      titulo="A Fazer"
      [tarefas]="tarefasAFazer"
      (avancar)="avancarStatus($event)">
    </app-task-column>
  </div>

  <div class="column">
    <app-task-column
      titulo="Em Andamento"
      [tarefas]="tarefasEmAndamento"
      (avancar)="avancarStatus($event)">
    </app-task-column>
  </div>

  <div class="column">
    <app-task-column
      titulo="Feita"
      [tarefas]="tarefasFeitas">
    </app-task-column>
  </div>

  <div class="tarefa">
    <h2>Criar Nova Tarefa</h2>
    <input [(ngModel)]="descricao" placeholder="Descrição da tarefa" />
    <select [(ngModel)]="categoria">
      <option [value]="'Desenvolvimento'">Desenvolvimento</option>
      <option [value]="'Inteligência Artificial'">Inteligência Artificial</option>
    </select>
    <button (click)="criarTarefa()">Adicionar</button>
  </div>
</div>

<button (click)="verTarefasFeitas()">Ver Tarefas Feitas</button>

